*.png filter=lfs diff=lfs merge=lfs
*.jpg filter=lfs diff=lfs merge=lfs
*.pdf filter=lfs diff=lfs merge=lfs
*.zip filter=lfs diff=lfs merge=lfs
*.tar.gz filter=lfs diff=lfs merge=lfs
*.fits filter=lfs diff=lfs merge=lfs
